/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
**/x_full_calendar
Homestead.json
Homestead.yaml
npm-debug.log
.env
get-events_dnweb.blade.php
test.blade.php
test2.blade.php
test22.blade.php
web.php
README.md