/* 사용중 (가저온 것들)
--------------------------------------------------
bootstrap
|- stickey-nav-footer?
prallax.js
Maxim - style.css
*/

/*
|-------------------------------------
| 공통 + sticky
|-------------------------------------
 현제 navbar default 를 메인 페이지 용으로 css 변경함
      navbar-inverses 복붙히여 parent 및 student로 추가 하여 변경할것
*/
html {
  position: relative;
  min-height: 100%;
}
/*상단 메뉴 바에 가리 지 않도록 함
   또한 하단 메뉴 포함*/
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-y:scroll;
}

img.minisize{
  max-width: 200px;
  max-height: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top:35px;
  padding-bottom:35px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color:#9197B5
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.scrollspy {
  position: relative;
  height: 200px;
  overflow: auto;
}


/*
**************** 섹션 학부모 교사 학생 항목   ***************
*/


/*마우스 오버 효과*/

section.section {
	padding: 50px 0 50px;
}
section.section h4 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 46px;
	font-weight: 700;
	letter-spacing: -1px;
}

/*태그별 폰트*/
.section.blue h4 ,.section.green h4{
	color: #fcfcfc;
}
.section.blue p,.section.green p {
	color: #f7f7f7;
}

/*섹션 배경 색*/
.section.blue {
  padding-top: 50px;
  padding-bottom: 50px;
	background:#A8C8F9;
}


/* 섹션 + ID  */

section#services h2 {
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 10px;
	text-align:center;
}
section#services p {
	margin:10px;
}


section#services .service-box {
  border:10px;
  border-color: white;
  border-radius: 15px;
  
	text-align: center;
	padding: 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/*마우스 올렸을시 번쩍이는 색*/
section#services .span3:hover {
	background:#B8D7FF;
}

section#services .service-box h2 {
	color: #f7f7f7;
	font-weight: 700;
}
/*마우스 오버 후 번쩍한 후 변하는 색*/
section#services.section.blue .service-box:hover {
	background:#90AFFF;
}




/* 뒷 배경 */
/*.bluebg{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  min-height: 750px;
}*/

/*  상단 파랑 바 */


.bluedecobar{
  width: 100%;
  height: 60px;
  background-color: #white;
}


/*
|-------------------------------------
| 학부모
|-------------------------------------
*/

/*
|-------------------------------------
| 학생
|-------------------------------------
*/

/*
|-------------------------------------
| 기능별
|-------------------------------------
*/
