/* 사용중 (가저온 것들)
--------------------------------------------------
bootstrap
|- stickey-nav-footer?
prallax.js
Maxim - style.css
*/

/*
|-------------------------------------
| 공통 + sticky
|-------------------------------------
 현제 navbar default 를 메인 페이지 용으로 css 변경함
      navbar-inverses 복붙히여 parent 및 student로 추가 하여 변경할것
*/
html {
  position: relative;
  min-height: 100%;
}
/*상단 메뉴 바에 가리 지 않도록 함
   또한 하단 메뉴 포함*/
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-y:scroll;
}

img.minisize{
  max-width: 200px;
  max-height: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top:35px;
  padding-bottom:35px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color:#2c3e50;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.scrollspy {
  position: relative;
  height: 200px;
  overflow: auto;
}

/*
**************** 섹션 학부모 교사 학생 항목   ***************
*/
/*
단계 1 
단계 2 #485563;
단계 3 

 #4e5d6c
 #39444e
*/

/*마우스 오버 효과*/

section.section {
	padding: 50px 0 50px;
}
section.section h4 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 46px;
	font-weight: 700;
	letter-spacing: -1px;
}

/*태그별 폰트*/

.section.blue h4 ,.section.green h4{
	color: #fcfcfc;
}
.section.blue p,.section.green p {
	color: #f7f7f7;
}

.section .blue{
  background-color: #cccccc;
}


/* 뒷 배경 */
.bluebg{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  min-height: 750px;
  background-color:#f2f2f2;
}

/*  상단 파랑 바 */
.bluedecobar{
  width: 100%;
  height: 60px;
  background-color: white;
}

